html,
body,
#header {
  height: 100%;
}

body {
  color: rgb(255, 255, 255, 0.7);
  /*#df5f50*/
  /*"#ff8859", "#56a1c4", "#ee726b", "#ffc5c7", "#fef9c6", "#df5f50", "#f5b800", "#ffcc4d", "#e590b8"*/
  /* width: 100%;
    height: 100%;
    margin: 0; */
  font-family: Helvetica;
}

#name {
  z-index: 5;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.3em rgb(39, 58, 112);
  font-size: 3em;
  cursor: pointer;
}

#name:hover {
  color: rgb(255, 255, 255, 1);
}

#header {
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
}

.grid-container {
  z-index: 4;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17em, 1fr));
  grid-gap: 0.7em;
  background-color: #4464a1;
  padding-left: 2em;
  padding-right: 2em;
}

.grid-item {
  z-index: 3;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch; */
  background-color: rgba(255, 255, 255, 0.8);
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  display: flex;
  object-fit: cover;
  height: 17em;
  width: 100%;
  /* padding: 20px; */
  /* margin-bottom: -6px; */
  opacity: 0.8;
  cursor: pointer;
}

/* .grid-item img {
  display: block;
  float: left;
  flex: 0 0 auto;
  width: calc(100%/4);
  height: calc(100%/6);
} */

.grid-item:hover {
  opacity: 1;
}

#container {
  background-color: #4464a1;
  z-index: 1;
  color: blue;
  position: absolute;
  top: 0;
  left: 0;
  /* box-shadow: 0 .5em 2em rgb(39, 58, 112); */
}

#rest {
  background-color: #4464a1;
  height: 100%;
}

.content {
  z-index: 99;
  position: absolute;
}
